.badge {
	width: fit-content;
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	font-style: normal;
	&--small {
		padding: 2px 8px;
		border-radius: 10px;
		font-weight: 700;
		backdrop-filter: blur(0);
		cursor: pointer;
	}
	&--medium {
		padding: 6px 10px;
		border-radius: 6px;
		font-weight: 500;
	}

	&--backgroundColor--red {
		box-shadow: 0 4px 12px rgba(234, 0, 61, 0.4);
		background-color: #ea003d;
	}
	&--backgroundColor--orange {
		box-shadow: 0 4px 12px rgba(255, 84, 46, 0.4);
		background-color: #ff542e;
	}
	&--backgroundColor--gray {
		background-color: #7e798f;
	}
}
