@import '@/config/_variables.scss';

.text {
	font-weight: 400;
	width: fit-content;
	&--small {
		font-size: $font-sm;
		line-height: 1.6rem;
	}
	&--medium {
		font-size: $font-base;
		line-height: 2.2rem;
		font-weight: 500;
	}

	&--red {
		color: $red;
	}
	&--blue {
		color: $blue;
	}
	&--gray {
		color: $gray;
	}
	&--square {
		width: 2px;
		height: 2px;
	}
	&--square--red {
		background-color: $red;
	}
	&--square--blue {
		background-color: $blue;
	}
	&--square--gray {
		background-color: $gray;
	}
	&--center {
		text-align: center;
	}
}
