{
	"printWidth": 120,
	"tabWidth": 4,
	"tabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParents": "always",
	"endOfLine": "lf"
}
