.regestration {
	padding: 4rem 0;
	border-top: 1px solid rgba(white, 0.16);

	&__input {
		margin-top: 2rem;
		padding-left: 0.4rem;
		padding-top: 1rem;
		width: 50%;
	}
	&__label {
		left: 0.4rem;
	}
	&__btn {
		margin-top: 3rem;
	}
}
