.header{
  font-style: normal;
  font-weight: 700;
  color: #fff;
  &__tiny{
    font-size: 15px;
  }
  &__small{
    font-size: 20px;
  }
  &__medium{
    font-size: 24px;
  }
  &__large{
    font-size: 40px;
  }
  &__huge{
    font-size: 56px;
  }

  &__black{
    color: #070808;
  }

  &__center{
    text-align: center;
  }
}

