@import '@/config/_variables.scss';

.banners-slider {

	& &__arrow-left,
	& &__arrow-right {
		@media(min-width: 1280px) {
			width: 35%;
		}
	}

	& &__arrow-left {
		@media (min-width: 1280px) {
			justify-content: flex-end;
			left: 15%;
			transform: translateX(-608px);

			&:active {
				transform: translateX(-608px) scale(0.9);
			}
		}
	}

	& &__arrow-right {
		@media (min-width: 1280px) {
			right: initial;
			left: 50%;
			transform: translateX(608px);

			&:active {
				transform: translateX(608px) scale(0.9);
			}
		}
	}
}
