@import '@/config/_variables.scss';

.text {
	font-weight: 500;
	font-size: $font-base;
	line-height: 2.2rem;

	width: fit-content;

	// Colors
	&--red {
		color: $red;
	}

	&--blue {
		color: $blue;
	}

	&--gray {
		color: $gray;
	}
}
