@import '@/config/_variables.scss';

.card {
	display: block;
	width: fit-content;
	&__noPhoto {
		background-image: url('../../../assets/images/unknownPhoto.png');
		background-position: center;
		background-size: 4.4rem;
		background-repeat: no-repeat;
	}
	&-square {
		width: 5.6rem !important;
		height: 5.6rem !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-small {
		&__text {
			&-bold {
				display: block;
				margin: 0.8rem auto 0 auto;
				font-weight: 400;
				color: $lightGray;
				font-size: $font-sm;
				line-height: $font-base;
				text-align: center;
			}
		}

		&__image {
			width: 4.4rem;
			height: 4.4rem;
			background-color: $black;
			&-circle {
				border-radius: 50%;
			}
			&-square {
				border-radius: 0.8rem;
				background-color: rgba($white, 0.16);
			}
		}
	}

	&-normal {
		&__text {
			margin-top: 0.8rem;
			font-size: $font-sm;
			line-height: $font-base;
			font-weight: 400;
			&-bold {
				font-weight: 500;
				color: $lightGray;
			}
		}

		&__image {
			width: 8.8rem;
			height: 8.8rem;
			background-color: $black;
			&-circle {
				border-radius: 50%;
			}
			&-square {
				border-radius: 0.8rem;
				background-color: rgba($white, 0.16);
			}
		}
	}
	&-big {
		&__text {
			margin-top: 0.8rem;
			font-size: $font-sm;
			line-height: $font-base;
			font-weight: 400;
			&-bold {
				font-weight: 500;
				color: $lightGray;
				line-height: 2rem;
				font-size: $font-base;
			}
		}

		&__image {
			width: 11.5rem;
			height: 11.5rem;
			background-color: $black;
			&-circle {
				border-radius: 50%;
			}
			&-square {
				border-radius: 0.8rem;
				background-color: rgba($white, 0.16);
			}
		}
	}
}
