@import "@/config/variables.scss";


.item {
	//width: 100%;
	font-weight: 500;
	color: $white;
	opacity: 0.48;
	transition: opacity 0.4s;
	//padding-left: 1.6rem;
	padding-right: 1.6rem;
	padding-bottom: 0.8rem;

	&:not([disabled]):hover,
	&:not([disabled]):focus,
	&:not([disabled]):active {
		opacity: 1;
	}

}
