@import '@/config/_variables.scss';

.film-status {
	font-size: $font-sm;
	font-weight: 400;

	// Variants
	&--free {
		color: $gray;
	}

	&--subscribe {
		color: $red;
	}

	&--buy {
		color: $blue;
	}
}
