.FilmTemplateHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}

@media (max-width: 400px) {
	.FilmTemplateHeader {
		&__Bread {
			display: none;
		}
	}
}
