.FilmTemplateHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid rgba(white, 0.16);
}

@media (max-width: 550px) {
	.FilmTemplateHeader {
		&__bread {
			display: none;
		}
	}
}
