.noAds {
	width: 25%;
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	&__btn {
		padding: 2.4rem;
		align-items: center;
		background: linear-gradient(180deg, var(--start-gradient-color) 0, var(--end-gradient-color) 100%);
		border-radius: 2rem;
		box-shadow: 0 0 104px var(--shadow-color);
		--start-gradient-color: #a869f0;
		--end-gradient-color: #834cc2;
		--shadow-color: #a869f0;
	}
	&__text {
		font-style: normal;
		font-weight: 400;
		line-height: 2rem;
		margin-top: 2.4rem;
		text-align: center;
	}
}
