// Colors
$white: #fff;
$red: rgb(234, 0, 61);
$orange: #ff542e;
$green: #73a32f;
$gray: #a5a1b2;

$bg: #100e19;
$accent-color: $red;

// Typography
//$font: Helvetica, Helvetica Neue, FreeSans, Arial, sans-serif;
$font: var(--ivi-font);

$font-base: 1.5rem; // 15px
$font-sm: 1.3rem; // 13px
