// Colors
$white: #fff;
$red: rgb(234, 0, 61);
$orange: #ff542e;
$green: #73a32f;
$gray: #a5a1b2;

$bg: #100e19;
$accent-color: $red;

// Typography
$font: Helvetica, Helvetica Neue, FreeSans, Arial, sans-serif;

$font-base: 0.9375rem; // 15px
$font-sm: 0.8125rem; // 13px
