.icon-btn {
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0;

	// Size
	&--normal {
		width: 2.67em;
		height: 2.67em;

		svg {
			width: 1.07em;
			height: 1.07em;
		}
	}

	&--big {
		width: 3.2em;
		height: 3.2em;

		svg {
			width: 1.25em;
			height: 1.25em;
		}
	}
}
