@import '@/config/_variables.scss';
.FilmTemplateUnderside {
	&__creators {
		margin-top: 3.5rem;

		&Container {
			display: flex;
			gap: 2.4rem;
		}
		&More {
			width: 8.8rem;
			height: 8.8rem;
			display: flex;
			justify-content: center;
			background-color: $black;
			align-items: center;
			border-radius: 50%;
		}
	}
}
