.collections {
	&-header {
		margin-top: 3.2rem;

		&__title {
			font-size: 4rem;
			margin-top: 2.4rem;
		}

		&__description {
			margin-top: 1.6rem;
		}
	}

	&-filters {
		margin-top: 2.4rem;

		&__row {
			display: flex;
			align-items: flex-start;
			gap: 1.5rem;
		}
	}

	&-menu {
		margin-top: 2.4rem;
		margin-bottom: 4rem;

		&__row {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
		}
	}
}
